@tailwind base;
@tailwind components;
@tailwind utilities;



#toggle-switch::after{
    content: '';
    @apply h-4 w-4 rounded-full bg-stone-100 border-2 border-teal-400 absolute left-0 top-0 transform scale-105 transition duration-200;
}

#toggle-switch:checked::after{
  content: '';
  @apply transform scale-110 translate-x-3;
}

#projekt-clock-switch::after{
  content: 'CLOCK';
  @apply h-7 w-24 rounded-full text-center px-1 flex items-center justify-center font-semibold text-white bg-teal-400 border-2 border-teal-400 absolute left-0 top-0 transform transition duration-200;
}

#projekt-clock-switch:checked::after{
content: 'PROJECT';
@apply transform  bg-cyan-500 border-cyan-500  translate-x-7;
}

#report-monthly-annual-switch::after{
  content: 'MONTHLY';
  @apply h-7 w-24 rounded-full text-center px-1 flex items-center justify-center font-semibold text-white bg-teal-400 border-2 border-teal-400 absolute left-0 top-0 transform transition duration-200 text-sm;
}

#report-monthly-annual-switch:checked::after{
content: 'ANNUAL';
 @apply transform bg-cyan-500 border-cyan-500 translate-x-7;
}







body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
